@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

/* hero styles */

.hero {
  @apply flex flex-col gap-5 relative z-0 max-w-[1440px] mx-auto h-screen justify-center items-center;
}

.hero__title {
  @apply 2xl:text-8xl sm:text-[64px] text-[50px] font-bold;
}

.hero__subtitle {
  @apply text-2xl font-light mt-1;
}

/* header styles */

.header {
  @apply fixed w-full flex flex-1
}