@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --ff-primary: 'DM Sans', sans-serif;
  --ff-secondary: 'Inter', sans-serif;

  --fw-reg: 300;
  --fw-semi-bold: 600;
  --fw-bold: 900;

  --clr-light: #ffefe5;
  --clr-dark: #000;
  --clr-accent: #5c52a8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* general styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

.text-link {
  transition: 250ms ease-in-out;
}
.text-link:hover {
  @apply opacity-75 scale-105;
}

/* hero styles */

.hero {
  @apply flex flex-col gap-5 relative z-0 max-w-[1440px] mx-auto h-screen justify-center items-center text-center;
}

.hero__title {
  @apply 2xl:text-8xl md:text-8xl sm:text-6xl text-5xl font-semibold;
}

.hero__subtitle {
  @apply text-2xl mt-1 font-medium;
}

.hero__btn-wrapper {
  @apply mt-8;
}

.hero__btn {
  color: rgb(var(--foreground-rgb));
  font-size: 14px;
  background-color: transparent;
  text-align: center;
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 11px 33px;
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgb(var(--foreground-rgb));
  transition: all 250ms ease-in-out;
  margin: 0 1rem;
}

.hero__btn:hover {
  opacity: 1;
  box-shadow: 0 0 0 0;
  transform: translateY(3px);
}

/* header styles */

.header {
  @apply fixed w-full flex flex-1 z-50 justify-evenly h-16 items-center;
  background: linear-gradient(180deg, rgb(var(--background-start-rgb)), transparent);
}

/* section styles */
.section__wrapper {
  @apply grid p-10 max-w-screen-lg m-auto gap-x-6 gap-y-3;
}

.section--left {
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-areas:
    'img title'
    'img description';
}

.section--right {
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-areas:
    'title img'
    'description img';
}
.section__title {
  grid-area: title;
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
}

.section__subtitle {
}

.section__description {
  grid-area: description;
  font-size: var(--fs-h3);
}

.section__img-wrapper {
  @apply relative;
  grid-area: img;
}

.section__img {
  object-fit: contain;
}

/* footer styles */
.footer__hr {
  max-width: 1100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.footer__icons {
  @apply flex justify-center gap-3;
}
.footer__icon-link {
  @apply p-2;
}
